
.box {
    border: 1px outset black;
    padding: 10px 10px 10px 10px;
    background-color: #002b36;    
    text-align: center;
}

.no-gutter{
    margin-left: 0;
    margin-right: 0;
}

.h1 {
    color: white;
}

body {
    color: white;
}

.brief-info {
    height: 15vh;
}

.learn-link {
    height: 10vh;
}


.querry {
    height: 55vh;
}

.world-map {
    height: 80vh;
}

.timeline {
    height: 17vh;
}

#chartdiv {
    width: 100%;
    height: 100%;
}