
.box {
    border: 1px outset black;
    padding: 10px 10px 10px 10px;
    background-color: #002b36;    
    text-align: center;
}



.brief-info {
    height: 32vh;
}

.learn-link {
    height: 15vh;
}


.querry {
    height: 55vh;
}

.world-map {
    height: 100vh;
}

#chartdiv {
    width: 100%;
    height: 100%;
}