{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
<style>
body {
    color: white;
}
</style>
{% endblock %}

{% block body %}
    <!-- <h1>This is the Main Page for our project</h1> -->

    <div class="container-fluid">
        <div class="row">
            <div class="info col-md-3">
            
                    <div class="brief-info box">Brief Information</div>
                    <div class="learn-link box">
                        <p>Learn about</p>
                        <a href="{{ url_for('general_info') }}"><button type="button" class="btn btn-primary btn">Learn about Earthquakes</button></a>
                    </div>
                    <div class="querry box">
                        <p>Querry Information Search</p>
                        <form action="/get_map_data">
                            <div class="form-group">
                                <label for="location">Desired Location:</label>
                                <input type="text" name='location' class="form-control" placeholder="Enter Desired Location">
                            </div>
                            <div class="form-group">
                                <label for="location">Start Year:</label>
                                <input type="text" name='start_year' class="form-control" placeholder="1800">
                            </div>
                            <div class="form-group">
                                <label for="timeframe">Range Slider for Timeframe</label>
                                <input type="range" class="form-control">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" name='tsunami'>Tsunami Involved</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" name='volcano'>Volnano Involved</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
        
            </div>
            
            <div class="world-map box col-md-9">
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Magnitude</button>
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Death</button>
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Damage</button>
                <div id="chartdiv"></div>    
            </div>

        </div>
        <div class="row box timeline">Time Line</div>
    </div>





    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}