{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
    <!-- <h1>This is the Main Page for our project</h1> -->

    <div class="container-fluid">
        <div class="row">
            <div class="info col-md-3">
            
                    <div class="brief-info box">Brief Information</div>
                    <div class="learn-link box">Learn about</div>
                    <div class="querry box">Querry</div>
        
            </div>
            
            <div class="world-map box col-md-9">
                <h1>World Map</h1>
            </div>
        </div>
        <div class="row box timeline">Time Line</div>
    </div>





    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}