{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">


<title>Home Page</title>
<style>
body {
    color: white;
}
</style>
{% endblock %}

{% block body %}
    <!-- <h1>This is the Main Page for our project</h1> -->

    <div class="container-fluid">
        <div class="row">
            <div class="info col-md-3">
            
                    <div class="brief-info box">Brief Information</div>
                    <div class="learn-link box">
                        <p>Learn about</p>
                        <a href="{{ url_for('general_info') }}"><button type="button" class="btn btn-primary btn">Learn about Earthquakes</button></a>
                    </div>
                    <div class="querry box">
                        <p>Querry Information Search</p>
                        <form method = "post">
                            <div class="form-group">
                                <label for="location">Desired Location:</label>
                                <input type="text" class="form-control" placeholder="Enter Desired Location">
                            </div>
                            <!-- <div class="form-group">
                                <label for="timeframe">Range Slider for Timeframe</label>
                                <input type="range" class="form-control">
                            </div> -->

                            <div class="form-group">
                                <label for="timeframe">Timeframe</label>
                                <div class="row">
                                    <div class="input-group mb-3 col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> Start Year </span>
                                        </div>
                                        <input type="number" class="form-control"  aria-label="startYear" aria-describedby="startYear" name="startYear">
                                    </div>

                                    <div class="input-group mb-3 col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> End Year </span>
                                        </div>
                                        <input type="number" class="form-control" aria-label="endYear" aria-describedby="endYear" name="endYear">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Tsunami Involved</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Volnano Involved</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
        
            </div>
            
            <div class="world-map box col-md-9">
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Magnitude</button>
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Death</button>
                <button type="button" class="btn btn-primary" onclick="draw_circles(this.innerHTML)">Damage</button>
                <div id="chartdiv"></div>    
            </div>

        </div>
        <div class="row box timeline">Time Line</div>
    </div>


    <!-- <div class="modal fade show" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                    
                    
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">Nice Button</button>
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->





    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}